In [15]:
import pandas as pd
print("Hello World")

Hello World

In [2]:
2+5

7

In [4]:
def mult(a, b):
    return a * b

In [5]:
print(mult(2,3))

6

In [6]:
x = 1
y = 2

In [7]:
x + y

3

In [8]:
x + y
x - y

-1

In [9]:
print(x + y)
x - y

3

-1

In [10]:
mynums = [1, 2, 3, 1, 2]

In [11]:
mynums

[1, 2, 3, 1, 2]

In [13]:
for n in mynums:
    print(n)

1
2
3
1
2

In [14]:
mynums?

In [16]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  1
4  2

In [17]:
mynums.sort(reverse=True)

In [18]:
mynums

[3, 2, 2, 1, 1]

In [19]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [20]:
%debug

> <ipython-input-19-ab38e88d1dcb>(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb> x
2
ipdb> y
0
ipdb> exit()

# Heading1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

**strong**
__strong__
*emphasize*
_emphasize_

'codycode'

`This is monospace`

***

NameError: name 's' is not defined

In [22]:
y = "Lukas Winter"
y.sort(reverse=True)

AttributeError: 'str' object has no attribute 'sort'

In [23]:
y[::-1]

'retniW sakuL'

In [ ]:
sakul636